<nav>
    <h1>My Website</h1>
    <div>
        <a href="/">Home</a>
        <a href="/signup" id="loginLink">Sign up</a>
        <a href="/login" id="loginLink">Login</a>
        <a href="/logout" id="logoutLink">Logout</a>
    </div>
</nav>
